:root{

    --color-selo-ver:rgba(30, 131, 5, 0.767);
    --color-border:#D1D5DB;
    --color-botao-whatsapp: #25d366;
    --color-border-hover:#0348d1;
    --color-font-footer: #D1D5DB; 
    --hover-borde-whatsapp:#139c45;
    --background-footer: #04304d;
    --background:#F0F2F5;
}


.page{
    max-width: 1200px;
    margin: 24px auto;
    border: 1px solid var(--color-border);
    border-radius: 30px;    
    flex-wrap: wrap;
    width: 95%;
}
body{
    background-color: var(--background);
}


.container-botao{
    
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index:  999; 
    bottom:  0;
    right: 0;
}

.botao-whats img{
    max-width: 40px;
    max-height: 30px;
    padding: 0;

   
}

.botao-whats{
    border: 0.5px solid;
    border-radius: 20px;
    width: 200px;
    align-items: center;
    display: flex;
    background-color: var(--color-botao-whatsapp) ;
    text-decoration: none;
}

.botao-whats:hover{
    transform:scale(1.1);
    border-color:  var(--hover-borde-whatsapp)  ;
}

