@import url(global.css);

.fotos-oficina{
    display: flex;
    max-width: 100%;
    height: 100%;
    justify-content: flex-start;
    
}

#fotos{
    display: flex;
    justify-content: flex-start;  
}