@import url(global.css);


#fotos {
    width: 100%;
    overflow: hidden; 
    
    padding: 20px 0;
}

/* 2. A ESTEIRA (O motor que desliza) */
.esteira {
    display: flex; /* Coloca os figures um do lado do outro */
    width: max-content; /* Faz a div ser comprida o suficiente para as 24 fotos */
    animation: deslizar 40s linear infinite; /* Liga o motor */
}


#fotos figure {
    margin: 0;
    padding: 0;
    width: 300px; 
    flex-shrink: 0; 
}



.fotos-oficina {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}


@keyframes deslizar {
  0% {
    transform: translateX(0);
  }
  100% {
    /* Como dobramos as fotos, -50% faz o loop ficar invisível */
    transform: translateX(-50%); 
  }
}

#selo-verde{
    border: 1px solid;
    border-radius: 30px;
    border-color: #D1D5DB;
    max-width: 50%;
   
        
}


#selo-verde img{
 height: 300px;
 width: 300px;
 justify-content: flex-end;
 margin: 12px;
}
.titulo-selo{
    color: rgba(30, 131, 5, 0.767);
    justify-content: center;
    display: flex;
}

.img-selo {
    display: flex;
    justify-content: space-between;
}